<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{ tenant.name }} - LinkHub</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
      rel="stylesheet"
    />
    <script id="tailwind-config">
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "#137fec",
              "primary-dark": "#0d5fb1",
              "background-light": "#f6f7f8",
              "background-dark": "#101922",
            },
            fontFamily: {
              display: ["Inter"],
            },
            borderRadius: {
              DEFAULT: "0.25rem",
              lg: "0.5rem",
              xl: "0.75rem",
              full: "9999px",
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      body {
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body
    class="bg-gradient-to-br from-[{{ tenant.primary_color }}] to-[#021b33]/80 min-h-screen text-white transition-colors duration-200"
  >
    <div class="relative flex min-h-screen w-full flex-col overflow-x-hidden">
      <div class="layout-container flex h-full grow flex-col">
        <main class="flex flex-1 justify-center py-12 px-6">
          <div
            class="layout-content-container flex flex-col max-w-[520px] w-full items-center"
          >
            <div class="mb-6">
              <div
                class="w-24 h-24 rounded-full border-4 border-white/20 bg-white p-1 shadow-xl overflow-hidden flex items-center justify-center"
              >
                <img
                  class="w-full h-full object-center rounded-full"
                  alt="Logotipo de {{ tenant.name }}"
                  src="{{ MEDIA_URL }}{{tenant.branding_icon}}"
                />
              </div>
            </div>
            <div class="text-center mb-10">
              <h1
                class="text-white tracking-tight text-3xl font-bold leading-tight pb-2 font-display"
              >
                {{ tenant.name }}
              </h1>
              <p
                class="text-white text-base font-normal leading-relaxed max-w-[400px] mx-auto font-display"
              >
                {{ tenant.description }}
              </p>
            </div>
            <div class="flex flex-col gap-4 w-full">
              {% for link in domain.links.all %}
              <a
                class="group flex min-h-[60px] w-full cursor-pointer items-center justify-center rounded-xl bg-white/10 backdrop-blur-md border border-white/20 px-6 py-3 transition-all hover:bg-white hover:border-white active:scale-[0.98] shadow-sm"
                target="_blank"
                href="{{ link.url }}"
              >
                <span
                  class="text-white text-base font-semibold leading-normal group-hover:text-black transition-colors"
                  >{{ link.name }}</span
                >
              </a>
              {% empty %}
              <p class="text-center">
                Oppss... {{ tenant.name }} ainda não possui links.
              </p>
              {% endfor %}
            </div>
            <div class="mt-auto pt-8">
              <p
                class="text-white/60 text-xs font-normal tracking-wide uppercase px-4 text-center"
              >
                Criado Por
                <a
                  class="underline hover:text-white transition-colors font-semibold"
                  href="#"
                  >LinkHub</a
                >
              </p>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
