DB_DATABASE=yourlinks
DB_USERNAME=yourlinks
DB_PASSWORD=yourlinks
DB_HOST=db
DB_PORT=5432
DEBUG=True

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin

HOST=yourlinks.localhost

VIEW_DEMONSTRATION_URL=http://localhost:8000

VERCEL=False

AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin123456
AWS_STORAGE_BUCKET_NAME=tenants
AWS_S3_ENDPOINT_URL=http://minio:9000

DEFAULT_FILE_STORAGE="storages.backends.s3.S3Storage"

BLOB_READ_WRITE_TOKEN=""
VERCEL_BLOB_BASE_URL=""
