DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432
DEBUG=False

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin

HOST=localhost

VIEW_DEMONSTRATION_URL=http://localhost:8000

BASE_URL=http://localhost:8000